{% extends 'base.html.twig' %}

{% block title %}{{ tache.titre }}{% endblock %}

{% block body %}
    <h1 class="display-4">{{ tache.titre }}</h1>
    <p class="text-muted mb-4 pb-2 border-bottom">
        
        — {{ tache.dateCreation|date('d/m/Y à H:i') }}
        {% if tache.terminee %}
            <span class="badge bg-success ms-2">✅ Terminée</span>
        {% else %}
            <span class="badge bg-warning text-dark ms-2">📝 En cours</span>
        {% endif %}
    </p>
    
    <div class="lead mb-5">
        {{ tache.description }}
    </div>
    <button type="button" class="btn btn-primary">
        <a href="{{ path('app_tache_terminer', {'id': tache.id}) }}" class="text-white text-decoration-none">Terminer</a>
    </button>

    <a href="{{ path('app_tache') }}" class="btn btn-outline-secondary">
        ← Retour à la liste
    </a>
{% endblock %}